<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a_track_it.fitdata">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ATrackItApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_files"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- App Shortcuts -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.a_track_it.fitdata.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddEntryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.a_track_it.fitdata.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.RecentActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.a_track_it.fitdata.activity.MainActivity" />
        </activity>

        <service android:name=".service.ReadCacheIntentService" />
        <service android:name=".service.SummaryCacheIntentService" />
        <service
            android:name=".service.BackgroundRefreshService"
            android:enabled="true" />
        <service
            android:name=".service.MySetupIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".service.MyScheduleReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.a_track_it.fitdata.START_REFRESH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.MyStartServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.a_track_it.fitdata.MyScheduleReceiver" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="66296b93b004277db3a3392eb9ecdef5e5c03210" />
    </application>

</manifest>